.alert-box {
    padding: 20px;
    background-color: lightgray;
    border: 1px solid #ddd;
    border-left: 5px solid#2196F3;
    margin-bottom: 15px;
    border-radius: 4px;
    color: #333;
}

.alert-box-success {
    background-color: #e8f5e9;
    border-left-color: #4CAF50
}

.alert-box-warning {
    background-color: rgb(243, 243, 202);
    border-left-color: yellow;
}

.alert-box-error {
    background-color: rgb(244, 193, 193);
    border-left-color: red;
}